@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,regular,italic,500,600,700');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Gabriela&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap');
*{ padding: 0px;
	margin: 0px;
	border: none;
	scroll-behavior: smooth;
}
a, a:link, a:visited  {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover  {
    /* color: inherit; */
    text-decoration: none;
}
aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body {
	background: linear-gradient(141deg, #93106E 0%, #531349 0.01%, #4B124D 19.75%, #020206 73.51%, #030308 100%);
	opacity: 1;
	background-repeat: no-repeat;
	top: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
  	justify-content: space-between;
}
.container-background {
	
	opacity: 1;
	background-size: cover;
	max-width: 960px;
    margin: auto;
}
.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo-header {
	color: #F8227E;
	font-size: 67px;
	font-family: Clicker Script;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
}

.logo-header:hover{
    color: #c719be;
    transition-duration: .5s;
    scroll-behavior: smooth;
	transform: scale(1.1);
}
.nav-list {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #CCF0EF;
	font-size: 20px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
	margin:0;
	padding: 25px 0;
}

.nav-link {
	color: #CCF0EF;
	font-size: 20px;
	font-family: Work Sans;
	font-style: normal;
	font-weight: 200;
	line-height: normal;
}
.nav-link:hover{
    color: #4391a5;
    transition-duration: .5s;
    scroll-behavior: smooth;
}
.nav-item {
	list-style: none;
	color: #CCF0EF;
font-size: 20px;
font-family: Work Sans;
font-style: normal;
font-weight: 200;
line-height: normal;
}
.header-container {
   display: flex;
   justify-content: center;
}
.header-logo {
    display: flex;
    overflow: hidden;
	justify-content: center;
}
.header-box{
	background: url(./icon/logo_neon3.svg);
	width: auto;
	height: auto;
	flex-shrink: 0;
	background-size: cover;
}
.logo_button{
	border-radius: 100px;
	background: linear-gradient(145deg, rgba(225, 30, 134, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	margin-top: 100px;
	color: var(--black, #222);
	text-align: center;
	font-size: 14px;
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	justify-content: center;
}
.logo_button1{
	border-radius: 100px;
	background: linear-gradient(145deg, #794ED4 0%, rgba(225, 30, 205, 0.18) 100%);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	margin-top: 265px;
	color: var(--black, #222);
	text-align: center;
	font-size: 14px;
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	justify-content: center;
}
.logo_button2{
	border-radius: 100px;
	background: linear-gradient(145deg, rgba(225, 30, 134, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	margin-top: 385px;
	color: var(--black, #222);
	text-align: center;
	font-size: 14px;
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	justify-content: center;
}
.logo_button3{
	border-radius: 100px;
	background: linear-gradient(145deg, #7f1bc2 0%, rgba(201, 26, 183, 0.18) 100%);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	margin-top: 10px;
	color: var(--black, #222);
	text-align: center;
	font-size: 14px;
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	justify-content: center;
}
.logo_button4{
	border-radius: 100px;
	background: linear-gradient(145deg, rgba(225, 30, 134, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	margin-top: 275px;
	color: var(--black, #222);
	text-align: center;
	font-size: 14px;
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	justify-content: center;
}
.logo_button5{
	border-radius: 100px;
	background: linear-gradient(145deg, #a21ed6 0%, rgba(225, 30, 205, 0.18) 100%);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	margin-top: 80px;
	color: var(--black, #222);
	text-align: center;
	font-size: 14px;
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	justify-content: center;
}
.logo_button5:hover{
	color: #4391a5;
	background: linear-gradient(145deg, rgba(225, 30, 209, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
    transition-duration: 0.9s;
    scroll-behavior: smooth;
	transform: scale(1.15);
}
.logo_button4:hover{
    color: #4391a5;
	background: linear-gradient(145deg, rgba(131, 30, 225, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
    transition-duration: 0.9s;
    scroll-behavior: smooth;
	transform: scale(1.15);
}
.logo_button3:hover{
	color: #4391a5;
	background: linear-gradient(145deg, rgba(225, 30, 209, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
    transition-duration: 0.9s;
    scroll-behavior: smooth;
	transform: scale(1.15);
}
.logo_button2:hover{
    color: #4391a5;
	background: linear-gradient(145deg, rgba(131, 30, 225, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
    transition-duration: 0.9s;
    scroll-behavior: smooth;
	transform: scale(1.15);
}

.logo_button1:hover{
	color: #4391a5;
	background: linear-gradient(145deg, rgba(225, 30, 209, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
    transition-duration: 0.9s;
    scroll-behavior: smooth;
	transform: scale(1.15);
}

.logo_button:hover{
    color: #4391a5;
	background: linear-gradient(145deg, rgba(131, 30, 225, 0.81) 0%, rgba(225, 30, 134, 0.18) 100%);
    transition-duration: 0.9s;
    scroll-behavior: smooth;
	transform: scale(1.15);
}
.header-name {
	
	display: flex;
    flex-direction: column;
    justify-content: space-around;
	border-radius: 5px;
	background: linear-gradient(180deg, rgb(194 144 229 / 17%) 0%, rgb(26 23 28 / 0%) 100%);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}
.main {
	color: #ccc4c4;
	font-family: IBM Plex Sans;
	font-size: 15px;
	display: flex;
	opacity: 1;
	background-size: cover;
	max-width: 100%;
    margin: auto;
	background: linear-gradient(180deg, rgba(69, 9, 112, 0.43) 0%, rgba(69, 9, 112, 0.00) 100%);
	box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.25);
}


a{
	font-family: IBM Plex Sans;
	color: blue;
	margin: 15px;
}



.contact_type{
	min-width: 25px;
}

.conteiner {
	font-family: IBM Plex Sans;
	display: flex ;
	justify-content: space-evenly;
	
}
.box {
	background: url(./icon/logo_neon2.svg) no-repeat;
	width: auto;
	height: 1350px;
	flex-shrink: 0;
	
}

.myself {
	display: flex;
	flex-direction: column;
	
	margin-top: 40px;
	color: var(--color-dark-s, #CDCDCD);
	text-align: justify;
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	width: 707px;
	height: auto;	
}

.language {
	display: flex;
	flex-direction: column;
	
	margin-top: 40px;
	color: var(--color-dark-s, #CDCDCD);
	text-align: justify;
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	width: 707px;
	height: auto;	
}

.skills {
	display: flex;
	flex-direction: column;
	
	margin-top: 40px;
	color: var(--color-dark-s, #CDCDCD);
	text-align: justify;
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	width: 707px;
	height: auto;	
}
.projects {
	display: flex;
	flex-direction: column;
	
	margin-top: 40px;
	color: var(--color-dark-s, #CDCDCD);
	text-align: justify;
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	width: 707px;
	height: auto;	
}
.projects-conteiner {
	display: flex;
	justify-content: space-around;
}
.projects_button {
	border-radius: 40px;
	border-top: 1px solid #A503E2;
	border-right: 3px solid #A503E2;
	border-bottom: 3px solid #A503E2;
	background: rgba(241, 205, 179, 0.00);
	display: flex;
	width: 182px;
	height: 64px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	color: #A503E2;
	text-align: center;
	font-size: 25px;
	font-family: Georgia;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 1.5px;
	display: flex;
    justify-content: center;
}
.projects_button1:hover {
	border-top: 1px solid #A503E2;
	border-right: 3px solid #A503E2;
	border-bottom: 3px solid #A503E2;
	color: #A503E2;
}
.projects_button:hover {
	border-top: 1px solid #F020BA;
	border-right: 3px solid #F020BA;
	border-bottom: 3px solid #F020BA;
	color: #E11E86;
}
.projects_button1 {
	border-radius: 40px;
	border-top: 1px solid #F020BA;
	border-right: 3px solid #F020BA;
	border-bottom: 3px solid #F020BA;
	background: rgba(241, 205, 179, 0.00);
	width: 182px;
	height: 64px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
	color: #E11E86;
	text-align: center;
	font-size: 25px;
	font-family: Georgia;
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 1.5px;
	display: flex;
    justify-content: center;
}
.education {
	display: flex;
	flex-direction: column;
	
	margin-top: 40px;
	color: var(--color-dark-s, #CDCDCD);
	text-align: justify;
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	width: 707px;
	height: auto;
	list-style: inside;
}

.education li{
	list-style: inside;
	display: list-item;
}
.skills li{
	list-style: inside;
	display: list-item;
}

code {
	display: flex;
}

.contacts {
	display: flex;
	flex-direction: column;
	
	margin-top: 40px;
	color: var(--color-dark-s, #CDCDCD);
	text-align: justify;
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	width: 707px;
	height: auto;
	z-index: 1;
}
.contact {
	display: flex;
}
.contact_value {
	cursor: pointer;
}

h1{
	font-size: 50px;
font-family: Gabriela;
font-style: normal;
font-weight: 400;
line-height: 90px;
letter-spacing: 5px;
text-transform: capitalize;
background: linear-gradient(135deg, rgba(240, 32, 186, 1), rgba(155, 0, 232, 1), rgba(255, 38, 178, 1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h2{
	color: #C4F5F4;
font-size: 45px;
font-family: Gabriola;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
}


h5, h3, h4 {
	font-family: IBM Plex Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	margin-left: 0px;
	text-decoration: underline;
	margin-bottom: 20px;
}
.conteiner-contacts {
	display: flex;
	flex-direction: column;
}

.footer {
	background: #030308;
	width: 100%;
	height: auto;
	flex-shrink: 0;
    text-align: center;
	margin: auto;
	width: 960px;
}
.footer-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
	box-sizing: border-box;
    padding: 0;
    margin: 0;
	color: #88FCF8;
text-align: right;
font-size: 24px;
font-family: Gabriela;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.code {
	
	display: flex;
	flex-direction: column;
	
	margin-top: 40px;
	color: var(--color-dark-s, #CDCDCD);
	text-align: justify;
	font-size: 15px;
	font-family: Arial;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
	width: 707px;
	height: auto;	
}
.footer-logo {
	display: flex;
    overflow: hidden;
	justify-content: flex-end;

	position: relative;
	padding: 10;
	margin-right: 10;
	cursor: pointer;
}
.footer-logo:hover {
	cursor: pointer;
	transition-duration: 1.5s;
    scroll-behavior: smooth;
	transform: scale(1.04);
}
.contact_footer a {
	color: #88FCF8;
	text-align: right;
	font-size: 24px;
	font-family: Gabriela;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0px;
}
html {
	scroll-behavior: smooth;
  }
